@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #faf9f6;
}

#layout {
  display: flex;
}

#navbar {
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  max-width: 25em;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1.25em;
  box-shadow: 5px 5px;
  overflow-y: auto;
}

#navbar h1 {
  margin: 1.25px 0px;
  font-size: 2.5em;
  margin: 10px 0px 10px 0px;
}

#navbar p {
  margin: 10px 0px;
  font-size: 1.1875rem;
}

#navbar ul {
  margin-top: 6.25rem;
}

#navbar a {
  text-decoration: none;
  color: black;
  display: block;
}

#navbar a:hover {
  color: white;
  padding: 10px;
}

#navbar li {
  list-style: none;
  font-size: 1.13rem;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid gray;
}

#navbar li:hover {
  background-color: black;
  color: white;
  padding: 0px;
}

.profile-picture {
  width: 6.25rem;
  border: 2px solid black;
  border-radius: 999px;
  box-shadow: 3px 3px;
  display: inline-block;
}

/* Div that houses the profile picture and close button */
.profile-close {
  display: flex;
}

#copyright {
  font-size: 1rem;
  margin-top: auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 0.63rem;
  flex-wrap: wrap;
}

.content img {
  margin-bottom: 20px;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
}

#projects {
  padding: 40px;
}

.project-card {
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 550px;
  margin: 40px 40px 20px 0px;
  box-shadow: 5px 5px;
  transition: all 0.2s ease-in;
}

.project-card:hover {
  transition: all 0.2s ease-out;
  transform: translateX(-15px);
  transform: translateY(-10px);
  box-shadow: 8px 8px;
}

.project-card h3 {
  margin-bottom: 0.63rem;
}

.project-link {
  margin-top: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.project-link:hover {
  color: blue;
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin-left: 27.5rem;
}

section h2 {
  font-size: 2.25rem;
}

#skills {
  padding: 40px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  margin: 20px 40px 20px 0px;
}

.icon i {
  font-size: 6.25rem;
}

.icon p {
  text-align: center;
  margin-top: 10px;
}

.languages-card {
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 40px 40px 20px 0px;
  box-shadow: 5px 5px;
  width: fit-content;
}

.languages-card-content {
  display: flex;
  flex-wrap: wrap;
}

@media (max-height: 750px) {
  .profile-picture {
    width: 6rem;
  }

  #navbar h1 {
    font-size: 2em;
  }

  #navbar ul {
    margin-top: 2rem;
  }

  #navbar p {
    margin: 10px 0px;
    font-size: 1rem;
  }

  #navbar li {
    font-size: 1rem;
    padding: 8px;
  }

  #navbar a:hover {
    padding: 8px;
  }

  .project-card {
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 450px;
    margin: 40px 40px 20px 0px;
    box-shadow: 5px 5px;
    transition: all 0.2s ease-in;
  }
}

#burger-menu {
  border: 2px solid black;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 2px 2px;
  margin-left: auto;
  background-color: white;
  cursor: pointer;
}

#burger-menu-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: absolute;
}

#close-button {
  border: 2px solid black;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 2px 2px;
  margin-left: auto;
  background-color: white;
  cursor: pointer;
  max-height: 50px;
}

@media (max-width: 992px) {
  #navbar {
    display: none;
  }

  section {
    margin-left: 0rem;
  }

  .icon img {
    width: 80px;
  }

  .icon i {
    font-size: 5rem;
  }

  .icon p {
    text-align: center;
    margin-top: 10px;
  }
}

@media (min-width: 993px) {
  #burger-menu {
    display: none;
  }

  #close-button {
    display: none;
  }
}

@media (max-width: 410px) {
  .icon {
    margin: 20px 30px 20px 0px;
  }

  .icon img {
    width: 60px;
  }

  .icon i {
    font-size: 4.25rem;
  }
}
